[submodule "irt_gnss_preprocessing"]
	path = irt_gnss_preprocessing
	url = https://github.com/rwth-irt/irt_gnss_preprocessing.git
	branch = ros2
[submodule "irt_nav_common"]
	path = irt_nav_common
	url = https://github.com/rwth-irt/irt_nav_common.git
	branch = ros2

