<?xml version="1.0"?>
<robot name="fgo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="PI" value="3.1415926535897931" />

    <link name="base_link"></link>

    <link name="velodyne"> </link>
    <joint name="velodyne_joint" type="fixed">
        <parent link="imu_link" />
        <child link="velodyne" />
        <origin xyz="0.339560 0 -0.0787" rpy="${pi} 0 0" />
    </joint>

    <link name="imu_link"> </link>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0" rpy="${-pi} 0 0" />
    </joint>

    <link name="ant1_link"> </link>
    <joint name="ant1_joint" type="fixed">
        <parent link="imu_link" />
        <child link="ant1_link" />
        <origin xyz="-0.11 -0.49 -0.21" rpy="${pi} 0 0" />
    </joint>

    <link name="ant2_link"> </link>
    <joint name="ant2_joint" type="fixed">
        <parent link="imu_link" />
        <child link="ant2_link" />
        <origin xyz="-0.11 0.49 -0.21" rpy="${pi} 0 0" />
    </joint>

</robot>
